/* BACKGROUND IMAGE */
.contact-bg {
    background:
        linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
        url("road.jpg");
    /* your road image */
    background-size: cover;
    background-position: center;
    padding: 100px 60px;
}

/* SINGLE BOX */
.contact-main {
    background: #f3f3f3;
    border-radius: 20px;
    padding: 50px 70px;
    max-width: 1200px;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/* LEFT SIDE */
.contact-left {
    width: 55%;
}

.contact-left h2 {
    color: #1b7f6b;
    font-size: 28px;
    margin-bottom: 18px;
}

.contact-left p {
    font-size: 18px;
    margin-bottom: 8px;
}

/* RIGHT SIDE */
.contact-right {
    width: 40%;
}

.contact-right h2 {
    color: #1b7f6b;
    font-size: 28px;
    margin-bottom: 18px;
}

.contact-right p {
    font-size: 18px;
    margin-bottom: 8px;
}

/* MOBILE */
@media(max-width:800px) {
    .contact-main {
        flex-direction: column;
        gap: 30px;
    }

    .contact-left,
    .contact-right {
        width: 100%;
    }
}
